*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

// VARIBLES
$BackgroundColor: #000000;
$TextColor: #ffffff;
$Primary__Button: #000000;
$Secondary__Button: #45578e;
$LinkColor: #ffffff;
$aboutBackgroundColor: #ffffff;

:root {
  --container: 1170px;
  --link--default: #ffffff;
}
// /VARIBLES

// Global Settings

body {
  background-color: $BackgroundColor;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 15px;
}

ul,
ol {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: $LinkColor;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: darken($LinkColor, 30);
  }
}

.Button {
  &--Secondary {
    border-radius: 38px;
    padding: 20px 45px;
    transition: all 0.3s ease-in-out;
    background-color: $Secondary__Button;
  }
}

.arrow--down {
  font-size: 3rem;
}

.openMenu {
  font-size: 1.5em;
  display: none;
}

.section {
  &-header {
    text-align: center;
    &__title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 3rem;
    }
    &__text {
      font-weight: 300;
    }
  }
}

// /Global Settings

// Modals

.modal {
  &-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;
  }
  &-main {
    width: 100%;
  }
  &-close {
    cursor: pointer;
  }
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;

  &-request {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #fff;
    background: $Secondary__Button;
    padding: 30px 40px;
  }
}
.openModal {
  z-index: 10;
  display: block;
}

// /Modals

// HEADER

.header {
  &-nav {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../assets/img/header__background.png");
  }
  &__overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
  &-content {
    color: #ffffff;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    &__title {
      margin-top: 260px;
      margin-bottom: 70px;
      font-size: 3em;
    }
    & .Button {
      margin-bottom: 260px;
    }
  }
}

.mobile-menu {
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
    font-size: 2em;
    cursor: pointer;
  }
  &__list {
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__link {
    font-size: 2rem;
  }
}

// /HEADER

// About Section

.about {
  padding: 80px 0;
  background-color: $aboutBackgroundColor;
  &-header {
    margin-bottom: 80px;
  }
}

// /About Section

// Footer

.footer {
  padding: 40px 0;
  font-size: 0.8rem;
  &-wrap {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &-logo,
  &-contacts {
    margin-right: 30px;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0.7em;
  }
}

// /Footer

// MEDIA

@media (max-width: 991px) {
  .header {
    &-nav {
      &__list {
        display: none;
      }
    }
  }

  .openMenu {
    display: block;
    cursor: pointer;
  }
}

// /MEDIA
